<h1>Botpress Inspection Tool Kit</h1>
<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Matrix Chart of Confidence', converse_api_select_data_path %></li>
  <li class="list-group-item"><%= link_to 'Training Data: CSV2JSON', training_data_select_path %></li>
</ul>
