<h1>Botpress Inspection Tool Kit</h1>
<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Learning Data Converter from CSV to JSON', json_converters_select_csv_path %></li>
  <li class="list-group-item"><%= link_to 'Matrix Chart of Confidence', converse_api_select_data_path %></li>
</ul>
